

  <footer class="py-3 bg-dark">    
    <div class="container mx-auto" style="width:230px">
    <a target="_blank" href= 'https://www.linkedin.com/in/rogeriogomes2009/'>
      <img class="inline m-auto" style="width: 36px;" src="../../img/in.png"/>
    <a target="_blank" href= 'https://www.facebook.com/Kadoshdev-107388688527151'>
      <img class="inline m-auto" style="width: 36px;" src='./img/fb.png' /></a>
    <a target="_blank" href= 'https://resume-rogeriogomes2009.vercel.app/'>
      <img class="inline m-auto" style="width: 36px;" src='./img/pf.png' /></a>
    <a target="_blank" href= 'https://wa.me/5521972300670'>
      <img class="inline m-auto" style="width: 36px;" src='./img/zap.png' /></a>
    <a target="_blank" href= 'mailto:kadoshdev@gmail.com'>
      <img class="inline m-auto" style="width: 36px;" src='./img/mail.png' /></a>
  </div>
  <p class="m-0 text-center text-white">Copyright&copy;2022/2023 - KDSH DEV / Desenvolvimento FullStack</p>
  </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
