<%- include('partials/header') %>

  <div class="starter-template">
    <h1>Centro de Notícias - PLENEWS</h1>
    <p class="lead">Portal de notícias imparcial e comprometido com a verdade!<br> Faça seu login e tenha acesso ao conteúdo restrito!</p>
  </div>

  <%- include('partials/footer') %>